
@model TimelineApp.Models.TimelineViewModel

<h1>Timeline</h1>

@if (Model.Posts != null && Model.Posts.Count > 0)
{
    <ul>
        @foreach (var post in Model.Posts)
        {
            <li>
                <p>@post.Text</p>
                <img src="@post.ImageUrl" alt="Post Image" width="300" />
                <p>Posted at: @post.CreatedAt</p>
            </li>
        }
    </ul>
}
else
{
    <p>No posts found.</p>
}
